<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="2" parallel="tests" thread-count="2">
	<test name="Test1">
		<classes>
			<class name="testcases.TC001_Login"></class>
		
		</classes>
	</test> <!-- Test -->
	<test name="Test2">
		<classes>
			<class name="testcases.TC002_Count"></class>
		
		</classes>
	</test> <!-- Test -->

	
	
	
</suite> <!-- Suite -->
